.BeginNavBar {
  background-color: #f5f5f5;
  box-shadow: 5px 0px 5px gray;
  height: 50px;
  position: relative;
}

.SignupNavBrand {
  margin-left: 200px;
  margin-bottom: 10px;
  color: forestgreen;
}
