.changePassword{
    background-color: green;
    border-color: green;
    width: 300px;
    color: #fff; 
}

.changeInfo{
    width: 300px;
    color: #fff; 
}

.Cancel{
    background-color: red;
    border-color: red;
    width: 300px;
    color: #fff; 
}

.tags{
    margin-left: 10px;
    margin-right: 10px;
}

.addTags{
    background-color:  green;

}

textarea{
    height: auto;
}