#containerSidebar {
    margin-top: 20px;
}

#containerContent {
    margin-top: 10px;
}

.listContent {
    margin-top: 10px;
}

.containerSidebarContent {
    flex-direction: column;
}

.contentMargin {
    margin-top: 15px;
}
