.BeginNavBar {
  background-color: #f5f5f5;
  box-shadow: 5px 0px 5px gray;
  height: 50px;
  position: relative;
}

.LogOutBtn {
  top: 10%;
  right: 3%;
  float: right;
  position: absolute;
  background-color: white;
}

.SignupNavBrand
{
  margin-left: 200px;
  margin-top: 5px;
  color: forestgreen;
}

.LogInBtn {
  top: 10%;
  right: 3%;
  float: right;
  position: absolute;
}