.ContentDetail {
  margin-top: 30px !important;
  margin: auto;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-color: darkgray;
}
